@import url(libs.css);
@import url(card.css);
body {
  background-color: #ffffff; }

.cardContainer {
  position: absolute;
  left: 144px;
  top: 222px;
  width: 880px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start; }

.titleWrapp {
  position: absolute;
  left: 170px;
  top: 80px; }
  .titleWrapp .title {
    font-size: 48px;
    font-weight: bold;
    color: #05abf6;
    font-family: 'Liberation Sans', arial;
    letter-spacing: 2px; }
